<div style="background-color: cornsilk;padding: auto;">
  <mat-card>
    <mat-card-title>
      <h2 style="text-align: center;padding-top: 15px;">Respuestas de ejercicio 2</h2>
    </mat-card-title>
    <mat-card-content>
      <mat-accordion>
        <!-- 2.1 -->
        <mat-expansion-panel (opened)="panelOpenState"
                             (closed)="!panelOpenState" color="primary" *ngFor="let pregunta of preguntas; index as i;" style="background: #fff;">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-family: museosans,Tahoma;font-size: 16px;">
              {{pregunta.title}}
            </mat-panel-title>
            <mat-panel-description style="font-family: museosans,Tahoma;font-size: 16px;">
              {{pregunta.pregunta}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <cite>{{pregunta.description}}</cite>
          <div id="{{pregunta.id}}" style="margin-top: 4px;">{{pregunta.codeSnippe}}</div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-footer>
      <button mat-stroked-button color="primary" routerLink="/ejercioA" class="anterior">Anterior</button>
    </mat-card-footer>
  </mat-card>
</div>>





  